.owner__chat {
    display: grid;
    width: 100%;
    justify-content: center;
    align-content: center;
}

.chat__text {
    width: 600px;
    min-height: 50px;
    border-radius: 20px;
    background-color: rgb(178, 178, 202);
}

.container__input__text {
    display: flex
}

.input__text {
    width: 100%;
}